body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavender;
}

input {
    /* Parte que o usuario insere as informações, como nome, email, senha e telefone. */
    padding: 5px;
    width: 200px;
    border-radius: 7px;
    border: solid grey 0px;
    outline: 0;
    line-height: 35px;
}

input:hover {
    border: solid grey 1px;
}

.cad {
    /*Criei uma div para estilizar a parte do formulario */
    border: 1px solid lightgrey;
    width: 250px;
    height: auto;
    border-radius: 7px;
    text-align: center;
    padding: 50px;
    background-color: lavenderblush;
    position: relative;
    box-shadow: 7px 6px 6px lightgray;
}

.senha1 {
    font-size: 20px;
    cursor: pointer;
    position: relative;

}

.senha2 {
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.icone {
    /* Essa parte é responsavel por colocar o icone de revelar a senha no lugar certo. */
    position: absolute;
    left: 80%;
    top: 15%;
}

#cadastrar {
    padding: 10px;
    width: 99px;
    height: auto;
    border-radius: 7px;
    border: 1px solid lavender;
    background-color: lavender;
}

.button:hover {
    background-color: lavenderblush;
    cursor: pointer;
    border: grey solid 1px;
}